{% extends "father.html" %}
{% block link %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "signupstyle.css" %}"/>
{% endblock %}

{% block nav%}
<h1>this is login page</h1>
    <div class="login">
    <div class="form-img"></div>
        {{ form.username }}
        {{ form.username.errors }}
        <br>
        {{ form.password }}
        {{ form.password.errors }}
        <br>
        {{ form.email }}
        {{ form.email.errors }}
        <button type="submit">


            {% if form.subject.errors %}
                <ol>
                    {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %}

    </div>

{% endblock %}