{% extends "father.html" %}
{% block link %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "signupstyle.css" %}"/>
{% endblock %}
{% block nav %}
    <div class="login" style="margin-top: 10rem ">

        <div class="form-img"></div>

        <form autocomplete="off" method="post" action="#">
            {% csrf_token %}
            <input class="inputA" name="email" placeholder="Email" type="text">
            <input class="inputA" name="username" placeholder="Username" type="text">
            <input class="inputA" name="password" placeholder="Password" type="password">
            <input class="inputA" type="submit" value="Sign up">
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LdRSRYUAAAAAFCqQ1aZnYfRGJIlAUMX3qkUWlcF"></div>
        </form>
    </div>

    <div class="signup login">
        <p>Have an account? <a href="login.html">Log in</a></p>
    </div>

{% endblock %}
