{% extends "father.html" %}
{% block link %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "signupstyle.css" %}"/>
{% endblock %}
{% block nav %}
    <div class="login" style="margin-top: 10rem ">

        <div class="form-img"></div>

        <form autocomplete="off" method="post" action="#" class="InputsA">
            {% csrf_token %}
            <input class="inputA" name="name" placeholder="Name" type="text">
            {{form.name.errors}}
            <input class="inputA" name="email" placeholder="Email" type="email">
            {{form.email.errors}}
            <input class="inputA" name="username" placeholder="Username" type="text">
            {{form.username.errors}}
            <input class="inputA" name="password1" placeholder="Password" type="password">
            {{form.password1.errors}}
            <input class="inputA" name="password2" placeholder="Repeat Password" type="password">
            {{form.password2.errors}}
            <input class="inputA" type="submit" value="Sign up">

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LfjxTYUAAAAAADlhRjLrAaO8vPm0BTwYX6YxRMl"></div>
        </form>
    </div>

    <div class="signup login">
        <p>Have an account? <a href="registration/login.html">Log in</a></p>
    </div>
{% endblock %}

